:root {
    --link-visited-color: rgb(197, 39, 197);
    --background: rgb(28, 3, 255);
}

a:visited {
    color: var(--link-visited-color);
}

a[href^="http"]::before {
    content: "⮳";
    font-size: 1.5em;
    margin-right: 0.2em;
    display: inline-block;
    transition: color 1s ease;
}

a[href^="http"]:hover::before {
    color: #000000;  
}

main a {
    position: relative;
    background: radial-gradient(circle at center,
        rgba(28, 3, 255, 0.6) 0%,
        rgba(28, 3, 255, 0.6) 40%,
        transparent 80%,
        transparent 100%
    ) center/0% 0% no-repeat;
    transition: background-size 1s ease;
}

main a:hover {
    background-size: 100% 100%;
}

a:active {
    border: 2px solid currentColor;
    padding: 2px 4px;
    margin: -2px -4px;
}
