.text-reflect {
      position: relative;
      display: inline-block;
      color: #2b6777;
      font-size: 3em;
      font-weight: bold;
      line-height: 1; 
      margin-bottom: 0; 
      padding-bottom: 0; 
    }

#acasa h2 {
      margin-top: 0.8em; 
    }.text-reflect::after {
      content: attr(data-text);
      position: absolute;
      left: 0;
      bottom: -1px; 
      transform-origin: bottom right;
      transform: skewX(45deg) scaleY(-0.5); /* inclinare si scalare */
      background: linear-gradient(0deg, #2b6777 50%, transparent 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      opacity: 0.7;
      filter: blur(1px);
      pointer-events: none;
      transition: all 1s ease; 
    }    .text-reflect:hover::after {
      transform: skewX(45deg) scaleY(-0.8); /* doar marire verticala fara deplasare */
      filter: blur(2px);
      opacity: 0.9;
    }