<footer id="footer">
            <strong>Informatii de contact:</strong>
            <address>
                <p>Telefon: <a href="tel:+40733521368">+40 733 521 368</a></p>
                <p>Scrie un mail catre: <a href="mailto:Gsports@gmail.com"> Gsports</a> </p>
                <p>Sediul nostru se afla la: <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica,+Bucuresti" target="_blank">Facultatea de Matematica si informatica</a></p>
                <iframe class="facultate-mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.884301139316!2d26.09701177504997!3d44.43553547107577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1741444948520!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <p>Ne puteti contacta pe whatsapp: <a href="https://wa.me/40700123456" target="_blank">WhatsApp Gsports</a></p>          
                <p><small>&copy; 2024 GSports Store. Toate drepturile rezervate.</small></p>
                <p>
                    <small>Pagină creată pe 
                        <time datetime="2024-03-04">4 martie 2024</time>.
                    </small>
                </p>
            </address>
            <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a>           
             <section 
                id="absolut" class="banner"> "Acesta este un proiect scolar."
            </section>

        </footer>