.animated-gallery {
  width: 300px;
  height: 300px;
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
  border: 15px solid;
  border-image: url("/resurse/imagini/border-pattern.png") 30 stretch;
}
.animated-gallery:hover .gallery-container {
  animation-play-state: paused;
}

.gallery-container {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: galleryAnimation 20s infinite;
  display: grid;
  gap: 5px;
}
.gallery-container[data-columns="2"] {
  grid-template-columns: repeat(2, 100%);
  grid-template-rows: repeat(2, 100%);
}
.gallery-container[data-columns="3"] {
  grid-template-columns: repeat(3, 100%);
  grid-template-rows: repeat(3, 100%);
}
.gallery-container[data-columns="4"] {
  grid-template-columns: repeat(4, 100%);
  grid-template-rows: repeat(4, 100%);
}
.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes galleryAnimation {
  0%, 5% {
    transform: scale(1);
  }
  10%, 15% {
    transform: scale(0.3);
  }
  20%, 25% {
    transform: scale(1) translate(-100%, 0);
  }
  30%, 35% {
    transform: scale(0.3);
  }
  40%, 45% {
    transform: scale(1) translate(0, -100%);
  }
  50%, 55% {
    transform: scale(0.3);
  }
  60%, 65% {
    transform: scale(1) translate(-100%, -100%);
  }
  70%, 75% {
    transform: scale(0.3);
  }
  80%, 95% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1200px) {
  .animated-gallery {
    display: none;
  }
}